* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  display: none;
  width: 100%;
  height: 100%;
}

.tier {
  display: flex;
  flex-direction: row;
}

.ark-hypercube {
  margin-top: 12%;
  margin-left: calc(50% - 60px);
}

.csgo-hypercube {
  margin-top: 5%;
  margin-left: calc(50% - 180px);
}

.minecraft-hypercube {
  margin-top: 5%;
  margin-left: 150px;
}

.rust-hypercube {
  margin-top: 5%;
  margin-left: calc(50% - 300px);
}

.tf2-hypercube {
  margin-top: 5%;
  margin-left: 150px;
}

.terraria-hypercube {
  margin-top: 5%;
  margin-left: 150px;
  margin-bottom: 1000px;
}

.smallCube {
  display: none;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}

.bigCube {
  width: 120px;
  height: 120px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  margin-left: -30px;
  margin-top: -30px;
}

.cube {
  transform-style: preserve-3d;
  animation: spin 10s infinite linear;
}

.cube:hover {
  cursor: pointer;
}

.smallCube div {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.bigCube div {
  width: 120px;
  height: 120px;
}

.bigCube p {
  font-weight: bold;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.cube div {
  color: rgba(0, 0, 0, 0);
  text-align: center;
  box-shadow: inset 0px 0px 0px 1px rgba(10, 0, 0, 0.8);
  display: block;
  position: absolute;
}

.cube:hover div {
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.8);
  background-color: rgba(10, 0, 0, 0.6);
  color: rgba(255, 255, 255, 1);
}

.cube:hover .icon {
  fill: #fff;
}

.smallCube div.top {
  margin-top: -30px;
}

.smallCube div.right {
  margin-left: 30px;
}

.smallCube div.bottom {
  margin-top: 30px;
}

.smallCube div.left {
  margin-left: -30px;
}

.smallCube div.front {
  transform: translateZ(30px);
}

.smallCube div.back {
  transform: translateZ(-30px) rotateX(180deg);
}

.bigCube div.top {
  margin-top: -60px;
}

.bigCube div.right {
  margin-left: 60px;
}

.bigCube div.bottom {
  margin-top: 60px;
}

.bigCube div.left {
  margin-left: -60px;
}

.bigCube div.front {
  transform: translateZ(60px);
}

.bigCube div.back {
  transform: translateZ(-60px) rotateX(180deg);
}

.cube div.top {
  transform: rotateX(90deg);
}

.cube div.right {
  transform: rotateY(90deg);
}

.cube div.bottom {
  transform: rotateX(-90deg);
}

.cube div.left {
  transform: rotateY(-90deg);
}

@keyframes spin {
  0% {
    transform: rotateX(-20deg) rotateY(20deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(740deg);
  }
}

#text {
  box-shadow: none;
}

.icon {
  width: 120px;
  height: 120px;
}

.hidden {
  display: none;
}
